body {
  background-color: rgb(234, 228, 228);
  margin: 0px;
  padding: 0px;
}

nav {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0px;
  padding:0px;
}

nav ul li a {
  color: #664980;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;

}

nav ul li a:hover {
  color: black;
}

#logo {
  width: 150px;
  padding: 10px 20px;
  padding-top: 13px;
}

#boks {
  background-color: #d57eb9;
  max-width: 800px;
  max-height: fit-content;
  margin: 50px auto; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#innhold {
  justify-content: center;
  display: flex;
}









