body {
  background-color: rgb(234, 228, 228);
  margin: 0px;
  padding: 0px;
}

nav {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: space-evenly; 
  list-style: none;
  padding: 20px;
}

nav ul li a {
  color: #664980;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
}





