body {
  background-color: rgb(234, 228, 228);
  margin: 0px;
  padding: 0px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

#nav_top {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

#nav_bottom {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(234, 228, 228);
}

#wrapper {
  padding-bottom: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0px;
  padding:0px;
}

nav ul li a {
  color: #664980;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;

}

nav ul li a:hover {
  color: black;
}

#logo {
  width: 150px;
  padding: 10px 20px;
  padding-top: 13px;
}

#boks {
  background-color: #d57eb9;
  max-width: 800px;
  max-height: fit-content;
  margin: 50px auto; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#innhold {
  justify-content: center;
  display: flex;
}

#skrift_forside {
  line-height: 1.5;
}

.btn {
  background-color: #ffffff;
  color: #664980;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn:hover {
  background-color: #664980;
  color: white;
  cursor: pointer;
}

#button {
  display: flex;
  gap: 20px; 
}

#nav_bottom ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0px;
}

#quiz_container {
 background-color: #d57eb9;
 box-shadow: 0px 1px 5px black;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 80%;
 min-width: 50%;
 border-radius: 20px;
 padding: 50px;
 /* margin: 0px 200px; */
}

#quiz_container #buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 100%;
}

#next button {
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 16px;
}

#next {
  padding: 20px;
}

h1 {
  color: #664980;
  text-align: center;
}

#wrapper_quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}











